<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guitars</title>

    <style>
    body {
     background-color: #3e3e3e;
    color: white;
    }

 .guitarProducts{
        list-style-type: none;
  margin: 15;
  padding: 50;
  width: 100px;
  background-color: black;
 }

.filterMenu{


        }

    </style>
</head>


<body>

<h1>Guitars</h1>


<div class="filterMenu">
<a>Sort by color: <button></button></a>
<a></a><a>Sort by brand: <button></button></a>
<a>Sort by model: <button></button></a>
</div>


<ul class =guitarProducts>
    <h2>Brands</h2>
    <li><a>Fender</a></li>
    <li><a>Jackson</a></li>
    <li><a>ESP</a></li>
    <li><a>Ibanez</a></li>
</ul>






</body>
</html>