<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h2>Add new product</h2>

<form action="/addProductToDataBase" method="post">

    <label for="brandName">Brand name:</label>
    <input type="text" id="brandName" name="brandName">

    <label for="modelName">Model name:</label>
    <input type="text" id="modelName" name="modelName">

    <label>Product type:</label>
    <select name="productType" id = "productType">Product type
        <option value="1">Guitar</option>
    <option value="5">Drums</option>
    <option value="7">Accessories</option>
    </select>

    <label for="price">Product Price:</label>
    <input type="text" id="price" name="price">
    <button type="submit">Add Product</button>
</form>


<h2>Delete Product</h2>
<form action="/admin/deleteProduct" method="post">
    <div class="label">Brand:
    <select name="brandName">
        <option th:each="product : ${products}" th:value="${product.brand}" th:text="${product.brand}"></option>
    </select>
    </div>
    <div class="label">Model:
        <select name="modelName">
            <option th:each="product : ${products}" th:value="${product.model}" th:text="${product.model}"></option>
        </select>
    </div>
    <button type="submit">Delete</button>
</form>


</body>
</html>